{% extends "base.html" %}
{% block tabs %}
{{ super() }}
<style>

    .md-main {
        flex-grow: 0;
    }
    
    .md-main__inner {
        display: flex;
        height: 100%;
    }
    
    .tx-container {
        background: linear-gradient(to bottom, var(--md-primary-fg-color), #17a7b6 100%,#fff 100%);
        padding-top: .0rem;
    }

    .tx-hero {
        margin: 32px 2.8rem;
        color: var(--md-primary-bg-color);
        justify-content: center;
    }

    .tx-hero h1 {
        margin-bottom: 1rem;
        color: currentColor;
        font-weight: 700
    }

    .tx-hero__content {
        padding-bottom: 1rem;
        margin: 0 auto;
    }

    .tx-hero__image{
        width:17rem;
        height:17rem;
        order:1;
        padding-right: 2.5rem;
    }

    .tx-hero .md-button {
        margin-top: .5rem;
        margin-right: .5rem;
        color: var(--md-primary-bg-color)
    }

    .tx-hero .md-button--primary {
        background-color: var(--md-primary-bg-color);
        color: hsla(280deg, 37%, 48%, 1);
        border-color: var(--md-primary-bg-color)
    }

    .tx-hero .md-button:focus,
    .tx-hero .md-button:hover {
        background-color: var(--md-accent-fg-color);
        color: var(--md-default-bg-color);
        border-color: var(--md-accent-fg-color)
    }

    .top-hr {
        margin-top: 42px;
    }

    .feature-item {
        background: linear-gradient(to bottom, #19827B, #18A7B7 100%);
        font-weight: 300;
        box-sizing: border-box;
        word-break: break-word;
        padding: 15px;
        margin: 20px;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        border-radius: 8px;
        transition: 0.3s;
    }

    .feature-item h2 {
        color: white;
        font-weight: 300;
        font-size: 25px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        line-height: normal;
        margin-top: 20px;
        margin-bottom: 10px;
        font-family: inherit;
    }

    .feature-item p {
        font-size: 16px;
        line-height: 1.8em;
        color: white;
        margin: 0 0 10px;
        display: block;
    }

    @media screen and (max-width:30em) {
        .tx-hero h1 {
            font-size: 1.4rem
        }
    }

    @media screen and (min-width:60em) {
        .md-sidebar--secondary {
            display: none
        }

        .tx-hero {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .tx-hero__content {
            max-width: 22rem;
            margin-top: 3.5rem;
            margin-bottom: 3.5rem;
            margin-left: 1.0rem;
            margin-right: 4.0rem;
            align-items: center;
        }
    }

    @media screen and (min-width:76.25em) {
        .md-sidebar--primary {
            display: none
        }

        .top-hr {
            width: 100%;
            display: flex;
            max-width: 61rem;
            margin-right: auto;
            margin-left: auto;
            padding: 0 .2rem;
        }

        .bottom-hr {
            margin-top: 10px;
            width: 100%;
            display: flex;
            max-width: 61rem;
            margin-right: auto;
            margin-left: auto;
            padding: 0 .2rem;
        }

        .feature-item {
            flex: 1;
            min-width: 0;
        }

        .feature-item:hover {
            box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
        }
    }

    .text-center {
        text-align: center;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
        margin-top: 15px;
        font-size: 23px;
        font-weight: 300;
        padding-bottom: 10px;
    }

    .logos {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-flow: row wrap;
        margin: 0 auto;
    }

    .logos img {
        flex: 1 1 auto;
        padding: 25px;
        max-height: 130px;
        vertical-align: middle;
    }

    .hr-logos {
        margin-top: 0;
        margin-bottom: 30px;
    }
</style>

<section class="tx-container">
    <div class="md-grid md-typeset">
      <div class="tx-hero">
        <div class="tx-hero__image">
          <img src="https://aviannetwork.github.io/avian-docs/assets/img/image31.png" draggable="false">
        </div>
        <div class="tx-hero__content">
          <h1>Avian Docs</h1>
          <p>A dual algorithm, PoW secured blockchain designed for low cost and user-friendly asset tokenization and management.</p>
          <a href="https://avn.network" class="md-button">
            Learn more
          </a>
          <a href="{{ config.repo_url }}" title="{{ lang.t('source.link.title') }}" class="md-button">
            Go to GitHub
          </a>
        </div>
      </div>
    </div>
</section>

<div class="top-hr">
    <div class="feature-item">
        <h2>
            <a href="flightplans">Avian Flight Plans ↗</a>

        </h2>
        <p>A scripting language for Avian that can embedded in websites and apps.</p>
    </div>
    <div class="feature-item">
        <h2>
            <a href="ans">Avian Name System ↗</a>
        </h2>
        <p>A decentralized identity system using the Bitcoin UTXO model.</p>
    </div>
    <div class="feature-item">
        <h2>
            <a href="wAVN/what-is-wavn">Wrapped Avian ↗</a>
        </h2>
        <p>Wrapped Avian (WAVN) is an ERC20 token on the Polygon Network, backed 1:1 with Avian.</p>
    </div>
</div>

{% endblock %}
{% block content %}{% endblock %}
{% block footer %}{% endblock %}
